/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
bin/
app/src/main/gen/
.idea/
.settings/
.DS_store/
*.bak
*.log
*.ipr
*.iws
*.iml
*.eml
*.ids
Thumbs.db
.idea
.gradle/